name: Build and deploy blog.vapor.codes

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.BLOG_DEPLOYER_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.BLOG_DEPLOYER_AWS_SECRET_ACCESS_KEY }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_REGION: 'eu-west-2'
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup cloudformation lint
      uses: ScottBrenner/cfn-lint-action@v2
    - name: Run cloudformation lint
      run: cfn-lint -t stack.yaml
    - name: Build site
      run: swift run
    - name: Create Bucket with correct permissions
      run: |
          if aws s3api head-bucket --bucket vapor-blog-pull-pr${{github.event.number}} 2>/dev/null; then
            echo "Bucket already exists"
          else
            aws s3 mb s3://vapor-blog-pull-pr${{github.event.number}}
            aws s3api delete-public-access-block --bucket vapor-blog-pull-pr${{github.event.number}}
            aws s3api delete-bucket-ownership-controls --bucket vapor-blog-pull-pr${{github.event.number}}
            aws s3api put-bucket-website --bucket vapor-blog-pull-pr${{github.event.number}}  \
              --website-configuration '{"IndexDocument":{"Suffix":"index.html"},"ErrorDocument":{"Key":"404.html"}}'
          fi
    - name: Deploy S3 Website
      uses: danburtenshaw/s3-website-pr-action@v2
      if: ${{ github.event.pull_request.head.repo.full_name == 'vapor/blog' }}
      with:
        bucket-prefix: "vapor-blog-pull"
        folder-to-copy: "./Output"
