name: issue-to-project-board-workflow
on:
  # Trigger when an issue gets labeled or deleted
  issues:
    types: [reopened, closed, labeled, unlabeled, assigned, unassigned]

jobs:
  setup_matrix_input:
    runs-on: ubuntu-latest

    steps:
      - id: set-matrix 
        run: |
          echo '::set-output name=matrix::${{ github.event.issue.labels }}'
    outputs:
      issueTags: ${{ steps.set-matrix.outputs.matrix }}

  manage_project_issues:
    runs-on: ubuntu-latest
    needs: setup_matrix_input 
    #strategy:
    #  matrix:
    #    issueTag: ${{ fromJson(needs.setup_matrix_input.outputs.issueTags) }}
    
    steps:
      - run: |
          echo "${{ needs.setup_matrix_input.outputs.issueTags }}"
    #uses: vapor/ci/.github/workflows/issues-to-project-board.yml@main
    #with:
    #  typeOfIssue: 'good first issue'